.calendarDateContainer {
  position: absolute;
  background-color: #EA655D;
  border-radius: 8px;
  height: 55px;
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px  #EA655D solid;
  z-index: 10000;
}

.calendarDateContainer:hover {
  border: 2px white solid;
}

.calendarDate {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  color: white;
  font-size: 24px;
  font-family: 'Open Sans';
}

.recipeSlide {
  background-color: white;
  margin-left: 5px;
  margin-right: 5x;
  margin-top: 20px;
}

.recipeImage {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.recipeTitle {
  width: 150px;
  font-size: 16px;
  font-family: 'Open Sans';
}

.recipeSummary {
  width: 200px;
  font-size: 12px;
  font-family: 'Open Sans';
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
}

.side-bar {
  position: absolute;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: #DA564E;
  background-color: #DA564E;
  transition: 0.8s ease;
}

.toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 10px;
  position: absolute;
  outline: none;
  background-color: #DA564E;
  border-color: #DA564E;
  border-left: 0;
}

#app-content {
  z-index: 1;
}

#cal-sidebar {
  z-index: -1;
}