.recipeSlide {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.recipeImage {
  height: 150px;
  width: 300px;
  object-fit: cover;
}

.recipeTitle {
  width: 200px;
  size: 14px;
}

.recipeSummary {
  width: 200px;
  size: 10px;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
}