.recipeSlide {
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.recipeImage {
  object-fit: cover;
  height: 200px;
  width: 400px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
